.Library {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  overflow: scroll;
  box-shadow: 2px 2px 30px rgb(202, 199, 199);
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  h2 {
    padding: 2rem;
  }
}

.LibrarySong {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  img {
    width: 30%;
  }
  &:hover {
    background-color: #e5e4e4;
  }

  .SongDescription {
    padding-left: 1rem;
    h3 {
      font-size: 19px;
    }
    h4 {
      font-size: 13px;
    }
  }
}

.playingMode {
  background-color: #e5e4e4;
}

.activeLibrary {
  transform: translateX(0%);
  opacity: 1;
}

// this is a trick to change the css of the scrollbar / This works on Firefox.
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

//to make it work on other browsers, we have to write this code below
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
