* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
p {
  color: rgb(85, 84, 84);
}
body {
  font-family: "Lato", sans-serif;
}

h3,
h4 {
  font-weight: 400;
  color: rgb(114, 113, 113);
}

@import "./Song";
@import "./Player";
@import "./Library";
